.card{
    display: flex;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.row{
    margin-top: -30px;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-left: 40px;
}
.row1{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row4{
    display:flex;

    align-items: center;
    margin-top: 5px;
    width: 300px;

}

.row1>h4{
    display: flex;
    align-items: center;
  
    justify-content: center;
}

.row3{
    align-content: flex-start;
}

.icon{
    width: 22px;
    height: 30px;
    /* color:rgb(98, 71, 230) */
}



.i-wrapper {
    position:relative;
    margin-right: -13px;
   
  }
  
  .i-icon {
    height: 1.5rem;
    width: 1.6rem;
    padding: 4px;
    position: absolute;
    /* box-sizing:border-box; */
    top:50%;
    left:25px;
    margin-top: -9px;
    transform: translateY(-50%);
  }
  
  .i-input {
    height: 50px;
    box-sizing:border-box;
    padding-left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }