.profile-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 10px;
    margin-left: 120px;
        margin-right: 120px;
        justify-content: flex-start;
        align-items: flex-start;
}
.upload-button{
    cursor: pointer;
}
input,textarea,select{
    border: 3px solid grey;
    color:black;
    font-weight: bold;
    border-radius:50px;
    height: 8px;
    width:200px;
    padding:15px;
    font-size: larger;
    
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
input::placeholder{
    
    color:black;
    font-weight: bold;
  
    font-size: larger;
 

}


textarea{
   
    border: 3px solid grey;
    color:black;
    font-weight: bold;
    
    font-size: 20px;
}
textarea::placeholder{
   
    
    color:black;
    font-weight: bold;
    
    font-size: larger;
}
.p-row1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.p-row2{
    width:160%;
display: flex;
justify-content: space-between;
    align-items: flex-start;
    
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
    
}
.profile-form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

}

.arrange{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}
#address{
    width:400px;
    height:30px;
}

.data{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.daoview{
    background-color: white;
    height: 60px;
    padding:10px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 18px;

    border: 2px solid black;
}