.profile-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 10px;
}
.upload-button{
    cursor: pointer;
}
input,textarea,select{
    border: 3px solid black;
    border-radius:50px;
    height: 8px;
    width:200px;
    padding:15px;
    font-weight: bold;
    margin: 20px;
}

textarea{
    height: 80px;
    width: 300px;
}
.p-row1,.p-row2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#address{
    width:400px;
    height:30px;
}

.data{
    display: flex;
    justify-content: center;
    align-items: center;
}